<p id="notice"><%= notice %></p>

<p>
  <strong>Department:</strong>
  <%# @user.department.name %>
</p>

<p>
  <strong>Type:</strong>
  <%# @user.designation %>
</p>

<p>
  <strong>Name:</strong>
  <%= @user.fullname %>
</p>

<p>
  <strong>Title:</strong>
  <%= @user.title %>
</p>

<p>
  <strong>Address:</strong>
  <%= @user.address %>
</p>

<p>
  <strong>Phone:</strong>
  <%= @user.phone %>
</p>

<p>
  <strong>Email:</strong>
  <%= @user.email %>
</p>

<p>
  <strong>Photo:</strong>
  <%= image_tag @user.profile_photo.url %>
</p>

<p>
  <strong>Current research:</strong>
  <%= @user.current_research %>
</p>

<p>
  <strong>Education:</strong>
  <%= @user.education %>
</p>

<p>
  <strong>Achievements:</strong>
  <%= @user.achievements %>
</p>

<p>
  <strong>Selected publication:</strong>
  <%= @user.selected_publication %>
</p>

<p>
  <strong>Status:</strong>
  <%= @user.status %>
</p>

<%= link_to 'Edit', edit_profile_path(@user) %> |
<%= link_to 'Back', profiles_path %>
