<section class="site-content">
  <div class="container">
    <div class="row">


      <p id="notice"><%= notice %></p>

      <h1>EMBA</h1>

      <table class="table table-striped">
        <thead>
        <tr>
          <th>Type</th>
          <th>Name</th>
          <th>Url</th>
          <th>Pages</th>
          <th></th>
          <th></th>
          <th></th>
          <th colspan="3"></th>
        </tr>
        </thead>

        <tbody>
        <% @embas.each do |emba| %>
            <tr>
              <td><%= emba.unit_type.name %></td>
              <td><%= emba.name %></td>
              <td><%= emba.slug %></td>
              <td><% if emba.pages.count > 0 %>
                    Edit Pages
                <% else %>

                <% end %>
              </td>
              <td></td>
              <td></td>
              <td></td>
              <td></td>
              <td><%= link_to 'Edit', edit_emba_path(emba) %></td>
              <td><%= link_to 'Destroy', emba, method: :delete, data: { confirm: 'Are you sure?' } %></td>
            </tr>

        <% end %>
        </tbody>
      </table>

      <br>

      <%= link_to 'New EMBA', new_emba_path %>

    </div> <!-- .col-md-3 -->

  </div> <!-- .row -->
</section> <!-- .container -->
