<p id="notice"><%= notice %></p>

<h1>Listing Footer Layouts</h1>

<table>
  <thead>
    <tr>
      <th>Title</th>
      <th>Desc</th>
      <th>Status</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @footer_layouts.each do |footer_layout| %>
      <tr>
        <td><%= footer_layout.title %></td>
        <td><%= footer_layout.desc %></td>
        <td><%= footer_layout.status %></td>
        <td><%= link_to 'Show', footer_layout %></td>
        <td><%= link_to 'Edit', edit_footer_layout_path(footer_layout) %></td>
        <td><%= link_to 'Destroy', footer_layout, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Footer layout', new_footer_layout_path %>
