<footer class="bg-dark">
  <div class="container">
    <div class="row">
      <div class="col-md-3">
        <h5>Contact Us</h5>
        <p>361 Stadium Dr<br>
          Tuscaloosa, AL 35487<br>
          Phone: (205) 348-7443<br></p>
        <hr>
        <ul class="list-inline icon-social icon-social-color circle">
          <li class="facebook">
            <a href="http://facebook.com/UABusiness" title="Facebook"><i class="fa fa-facebook"></i><br>
              <span class="sr-only">Facebook</span><br>
            </a>
          </li>
          <li class="twitter">
            <a href="http://twitter.com/culverhouse" title="Twitter"><i class="fa fa-twitter"></i><br>
              <span class="sr-only">Twitter</span><br>
            </a>
          </li>
          <li class="linkedin">
            <a href="http://www.linkedin.com/groups?home=&gid=51757&trk=anet_ug_hm" title="LinkedIn"><i class="fa fa-linkedin"></i><br>
              <span class="sr-only">LinkedIn</span><br>
            </a>
          </li>
        </ul>
      </div> <!-- .col-md-3 -->

      <div class="col-md-3">
        <h5>Academic Departments</h5>
        <ul class="list-unstyled">
          <li><a href="/academics/departments/accountancy/">Accounting</a></li>
          <li><a href="/academics/departments/economics-finance-legal-studies/">Economics, Finance, and Legal Studies</a></li>
          <li><a href="/academics/departments/information-systems-statistics-and-management-science/">Information Systems, Statistics, and Management Science</a></li>
          <li><a href="/academics/departments/management/">Management</a></li>
          <li><a href="/academics/departments/marketing/">Marketing</a></li>
        </ul>
      </div> <!-- .col-md-3 -->

      <div class="col-md-3">
        <h5>The University of Alabama</h5>
        <ul class="list-unstyled">
          <li><a href="http://registrar.ua.edu/academiccalendar/" target="_blank">Academics Calendar</a></li>
          <li><a href="https://www.ua.edu/admissions/" target="_blank">Admissions</a></li>
          <li><a href="https://www.ua.edu/academics/catalogs/" target="_blank">Catalogs</a></li>
          <li><a href="http://graduate.ua.edu/" target="_blank">Graduate School</a></li>
          <li><a href="http://mybama.ua.edu" target="_blank">myBama</a></li>
        </ul>
      </div> <!-- .col-md-3 -->

      <div class="col-md-3">
        <h5>Support</h5>
        <ul class="list-unstyled">
          <li><a href="students/">Student Services</a></li>
          <li><a href="news/">College News</a></li>
          <li><a href="events/">Events Calendar</a></li>
          <li><a href="investing-in-the-college/">Investing in the College</a></li>
          <li><a href="store/">Culverhouse Store</a></li>
        </ul>
      </div> <!-- .col-md-3 -->
    </div> <!-- .row -->
  </div>
  <div class="footer-copyright bg-primary">
    <div class="container">
      <div class="row">
        <div class="col-md-12">
          <div class="row">
            <div class="col-md-3 col-sm-3">
              <a class="ua-logo ua-logo-stacked" href="http://www.ua.edu" target="_blank" title="The University of Alabama" rel="home">
                <span class="sr-only">The University of Alabama</span>
              </a>
            </div> <!-- .col-md-3 -->

            <div class="col-md-9 col-md-9">
              <div class="pull-right">
                <ul class="disclaimer-list list-inline text-right">
                  <li><%= link_to "Social Media Links", "social-media/" %></li>
                  <li><%= link_to "Alumni", "alumni/" %></li>
                  <li><%= link_to "Faculty & Staff", "directory/" %></li>
                  <!-- <li><%= link_to "Contacts", "contact/" %></li> -->
                </ul>

                <p class="copyright-text text-right">
                  <%= link_to "Website Feedback", "mailto:fstewart@culverhouse.ua.edu" %>
                  | <%= link_to "Culverhouse Technology Group", "technology/" %>
                </p>


                <p class="copyright-text text-right">
                  <a href="https://www.ua.edu/copyright">Copyright &copy; 2016</a>
                  | <a href="/">The Culverhouse College of Commerce</a>
                  | <a href="https://www.ua.edu">The University of Alabama</a>
                  | <a href="https://www.ua.edu/disclaimer">Disclaimer</a>
                  | <a href="https://www.ua.edu/privacy">Privacy</a>
                </p>
              </div> <!-- .pull-right -->
            </div> <!-- .col-md-9 -->
          </div> <!-- .row -->
        </div> <!-- .col-md-12 -->
      </div> <!-- .row -->
    </div> <!-- .container -->
  </div> <!-- .footer-copyright -->
</footer>