<p id="notice"><%= notice %></p>

<p>
  <strong>Unit type:</strong>
  <%= @center.unit_type_id %>
</p>

<p>
  <strong>Name:</strong>
  <%= @center.name %>
</p>

<p>
  <strong>Slug:</strong>
  <%= @center.slug %>
</p>

<p>
  <strong>Building:</strong>
  <%= @center.building_id %>
</p>

<p>
  <strong>Phone:</strong>
  <%= @center.phone %>
</p>

<p>
  <strong>Fax:</strong>
  <%= @center.fax %>
</p>

<p>
  <strong>Office:</strong>
  <%= @center.office %>
</p>

<p>
  <strong>Mailing address:</strong>
  <%= @center.mailing_address %>
</p>

<p>
  <strong>Po box:</strong>
  <%= @center.po_box %>
</p>

<p>
  <strong>Header image:</strong>
  <%= @center.header_image %>
</p>

<p>
  <strong>User:</strong>
  <%= @center.user_id %>
</p>

<p>
  <strong>Facebook:</strong>
  <%= @center.facebook %>
</p>

<p>
  <strong>Linkedin:</strong>
  <%= @center.linkedin %>
</p>

<p>
  <strong>Twitter:</strong>
  <%= @center.twitter %>
</p>

<p>
  <strong>Instagram:</strong>
  <%= @center.instagram %>
</p>

<p>
  <strong>Snapchat:</strong>
  <%= @center.snapchat %>
</p>

<p>
  <strong>Vimeo:</strong>
  <%= @center.vimeo %>
</p>

<p>
  <strong>Youtube:</strong>
  <%= @center.youtube %>
</p>

<p>
  <strong>Contact name:</strong>
  <%= @center.contact_name %>
</p>

<p>
  <strong>Contact email:</strong>
  <%= @center.contact_email %>
</p>

<%= link_to 'Edit', edit_center_path(@center) %> |
<%= link_to 'Back', centers_path %>
