<section class="site-section-top">

      <div class="bg-img" style="background-image: url('<%= random_background_photo %>');background-position: 0px 0px;">

  <div class="container site-content">
    <div class="site-heading-bg-primary">
      <h1> <%#@page.title %>  </h1>
    </div> <!-- .site-heading-bg -->
  </div> <!-- .container -->
  </div> <!-- .site-section-bg -->
</section>

<section class="site-content">
  <div class="container">
    <div class="row">
      <div class="col-md-3">
        <div class="sidebar sidebar-sticky affix-top scroll-to hidden-xs hidden-sm">
          <ul class="nav nav-pills nav-stacked">

            <!-- Link to the current page. -->
            <li><%= link_to @page.title, { :controller => :cldc, :action => :index } %></li>

            <!-- Links to the sections of the current page. -->
            <% @page.sections.where.not(title: '').order('position ASC').each_with_index do |section, index| %>
                <% indexplusone = index + 1 %>
                <% if index == 0 %>
                    <%= link_to_in_li "#{section.title}", { :controller => :cldc, :action => :index, :anchor => "item-#{indexplusone}" } %>
                <% else %>
                    <%= link_to_in_li "#{section.title}", { :controller => :cldc, :action => :index, :anchor => "item-#{indexplusone}" } %>
                <% end %>
            <% end %>

          </ul>

          <!-- Display a Call To Action Button if one has been added to the page. -->
          <%= render 'pages/cta' if @page.calltoactions.present? %>

        </div> <!-- .sidebar -->
      </div> <!-- .col-md-3 -->
      <div class="col-md-9">
        <h1>CLDC Team Registration</h1>

        <%= render 'form' %>

        <%= link_to 'Back', cldc_teams_path %>
      </div>
    </div>
  </div>
</section>
