<p id="notice"><%= notice %></p>

<p>
  <strong>Team Name:</strong>
  <%= @cldc_team.team_name %>
</p>

<p>
  <strong>Team captain:</strong>
  <%= @cldc_team.team_captain %>
</p>

<p>
  <strong>Team captain email:</strong>
  <%= @cldc_team.team_captain_email %>
</p>

<p>
  <strong>Team captain phone:</strong>
  <%= @cldc_team.team_captain_phone %>
</p>

<p>
  <strong>Second member name:</strong>
  <%= @cldc_team.second_member_name %>
</p>

<p>
  <strong>Second member email:</strong>
  <%= @cldc_team.second_member_email %>
</p>

<p>
  <strong>Third member name:</strong>
  <%= @cldc_team.third_member_name %>
</p>

<p>
  <strong>Third member email:</strong>
  <%= @cldc_team.third_member_email %>
</p>

<p>
  <strong>Advisor title:</strong>
  <%= @cldc_team.advisor_title %>
</p>

<p>
  <strong>Advisor name:</strong>
  <%= @cldc_team.advisor_name %>
</p>

<p>
  <strong>Advisor phone:</strong>
  <%= @cldc_team.advisor_phone %>
</p>

<p>
  <strong>Advisor email:</strong>
  <%= @cldc_team.advisor_email %>
</p>

<p>
  <strong>Advisor affiliation:</strong>
  <%= @cldc_team.advisor_affiliation %>
</p>

<p>
  <strong>Resume1:</strong>
  <%= @cldc_team.resume1 %>
</p>

<p>
  <strong>Resume2:</strong>
  <%= @cldc_team.resume2 %>
</p>

<p>
  <strong>Resume3:</strong>
  <%= @cldc_team.resume3 %>
</p>

<%= link_to 'Edit', edit_cldc_team_path(@cldc_team) %> |
<%= link_to 'Back', cldc_teams_path %>
