<p id="notice"><%= notice %></p>

<p>
  <strong>Page:</strong>
  <%= @section.page %>
</p>

<p>
  <strong>Position:</strong>
  <%= @section.position %>
</p>

<p>
  <strong>Title:</strong>
  <%= @section.title %>
</p>

<p>
  <strong>Desc:</strong>
  <%= @section.desc %>
</p>

<p>
  <strong>Status:</strong>
  <%= @section.status %>
</p>

<%# link_to 'Edit', {:action => 'edit', :id => @section.id, :page_id => @page.id} %> |
<%# link_to 'Back', {:action => 'index', :page_id => @page.id} %>
