<%= simple_form_for(@event) do |f| %>
  <%= f.error_notification %>

  <div class="form-inputs">
    <%= f.association :event_category %>
    <%= f.input :name %>
    <%= f.input :url %>
    <%= f.input :event_date %>
    <%= f.input :event_end_date %>
    <%= f.input :short_desc %>
    <%= f.input :desc %>
    <%= f.input :event_photo %>
    <%= f.input :google_event_id %>
    <%= f.input :status %>
  </div>

  <div class="form-actions">
    <%= f.button :submit %>
  </div>
<% end %>
