<section class="site-section-top">
  <% unless @page.header_image.blank? %>
    <div class="bg-img" style="background-image: url('<%= @page.header_image.fullsize.url %>');">
  <% else %>
    <div class="bg-img" style="background-image: url('<%= random_background_photo %>');background-position: 0px 0px;">
  <% end %>
    <div class="container site-content">
      <div class="site-heading-bg-primary">
        <h1> <%= @page.title %>  </h1>
      </div> <!-- .site-heading-bg -->
    </div> <!-- .container -->
  </div> <!-- .site-section-bg -->
</section>

<section class="site-content">
  <div class="container">
    <div class="row">
      <div class="col-md-12">
        <h2 id="<%= "item-0" %>" class="page-header"> <%= @page.pagehead %> </h2>

       <!--  Content from the main page form.  Leave this blank if a section feature needs to be displayed first. -->
        <%= @page.desc.html_safe %>

        <% @page.sections.each_with_index do |section, index| %>
          <% indexplusone = index + 1 %>
            <% if index == 0 %>
                <h2 id="<%= "item-#{indexplusone}" %>" class="page-header"> <%= section.title %> </h2>

                    <%= render 'pages/texts', :section => section if section.texts.present? %>
                    <%= render 'pages/fullslides', :section => section if section.fullslides.present? %>
                    <%= render 'pages/accordions', :section => section if section.accordions.present? %>
                    <%= render 'pages/carousels', :section => section if section.carousels.present? %>
                    <%= render 'pages/galleries', :section => section if section.galleries.present? %>
                    <%= render 'pages/iconboxes', :section => section if section.iconboxes.present? %>
                    <%= render 'pages/imageboxes', :section => section if section.imageboxes.present? %>
                    <%= render 'pages/listgroups', :section => section if section.listgroups.present? %>
                    <%= render 'pages/timelines', :section => section if section.timelines.present? %>
                    <%= render 'pages/videos', :section => section if section.videos.present? %>
                
            <% else %>
                <h2 id="<%= "item-#{indexplusone}" %>" class="page-header"> <%= section.title %> </h2>    

                    <%= render 'pages/texts', :section => section if section.texts.present? %>
                    <%= render 'pages/fullslides', :section => section if section.fullslides.present? %>
                    <%= render 'pages/accordions', :section => section if section.accordions.present? %>
                    <%= render 'pages/carousels', :section => section if section.carousels.present? %>
                    <%= render 'pages/galleries', :section => section if section.galleries.present? %>
                    <%= render 'pages/iconboxes', :section => section if section.iconboxes.present? %>
                    <%= render 'pages/imageboxes', :section => section if section.imageboxes.present? %>
                    <%= render 'pages/listgroups', :section => section if section.listgroups.present? %>
                    <%= render 'pages/timelines', :section => section if section.timelines.present? %>
                    <%= render 'pages/videos', :section => section if section.videos.present? %>

            <% end %>    
        <% end %>    

      </div> <!-- .col-md-9 -->
    </div> <!-- .row -->
  </div> <!-- .container -->
</section>