<%= simple_form_for(@contact) do |f| %>
  <%= f.error_notification %>

  <div class="form-inputs">
    <%= f.association :unit_type %>
    <%= f.input :name %>
    <%= f.input :url %>
    <%= f.input :title %>
    <%= f.input :address_1 %>
    <%= f.input :address2 %>
    <%= f.input :address3 %>
    <%= f.input :phone %>
    <%= f.input :email %>
    <%= f.input :status %>
  </div>

  <div class="form-actions">
    <%= f.button :submit %>
  </div>
<% end %>
