<p id="notice"><%= notice %></p>

<p>
  <strong>First name:</strong>
  <%= @graduate_profile.first_name %>
</p>

<p>
  <strong>Middle initial:</strong>
  <%= @graduate_profile.middle_initial %>
</p>

<p>
  <strong>Last name:</strong>
  <%= @graduate_profile.last_name %>
</p>

<p>
  <strong>Nickname:</strong>
  <%= @graduate_profile.nickname %>
</p>

<p>
  <strong>Email:</strong>
  <%= @graduate_profile.email %>
</p>

<p>
  <strong>Phone:</strong>
  <%= @graduate_profile.phone %>
</p>

<p>
  <strong>Hometown:</strong>
  <%= @graduate_profile.hometown %>
</p>

<p>
  <strong>Candidate type:</strong>
  <%= @graduate_profile.candidate_type %>
</p>

<p>
  <strong>Class:</strong>
  <%= @graduate_profile.class %>
</p>

<p>
  <strong>Ug school:</strong>
  <%= @graduate_profile.ug_school %>
</p>

<p>
  <strong>Ug year:</strong>
  <%= @graduate_profile.ug_year %>
</p>

<p>
  <strong>Work experience:</strong>
  <%= @graduate_profile.work_experience %>
</p>

<p>
  <strong>Activities honors:</strong>
  <%= @graduate_profile.activities_honors %>
</p>

<p>
  <strong>Internship:</strong>
  <%= @graduate_profile.internship %>
</p>

<p>
  <strong>Cskills:</strong>
  <%= @graduate_profile.cskills %>
</p>

<p>
  <strong>Avatar:</strong>
  <%= @graduate_profile.avatar %>
</p>

<p>
  <strong>Cv:</strong>
  <%= @graduate_profile.cv %>
</p>

<p>
  <strong>Status:</strong>
  <%= @graduate_profile.status %>
</p>

<p>
  <strong>Registered:</strong>
  <%= @graduate_profile.registered %>
</p>

<%= link_to 'Edit', edit_graduate_profile_path(@graduate_profile) %> |
<%= link_to 'Back', graduate_profiles_path %>
