<p id="notice"><%= notice %></p>

<h1>Listing College Events</h1>

<table>
  <thead>
    <tr>
      <th>Title</th>
      <th>Desc</th>
      <th>Department</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @college_events.each do |college_event| %>
      <tr>
        <td><%= college_event.title %></td>
        <td><%= college_event.desc %></td>
        <td><%= college_event.department %></td>
        <td><%= link_to 'Show', college_event %></td>
        <td><%= link_to 'Edit', edit_college_event_path(college_event) %></td>
        <td><%= link_to 'Destroy', college_event, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New College event', new_college_event_path %>
