<p id="notice"><%= notice %></p>

<h1>Listing Ces Pregame Rsvps</h1>

<table>
  <thead>
    <tr>
      <th>Game1 comp tickets</th>
      <th>Game1 paid tickets</th>
      <th>Game1 child tickets</th>
      <th>Game2 comp tickets</th>
      <th>Game2 paid tickets</th>
      <th>Game2 child tickets</th>
      <th>Game3 comp tickets</th>
      <th>Game3 paid tickets</th>
      <th>Game3 child tickets</th>
      <th>Game4 comp tickets</th>
      <th>Game4 paid tickets</th>
      <th>Game4 child tickets</th>
      <th>Game5 comp tickets</th>
      <th>Game5 paid tickets</th>
      <th>Game5 child tickets</th>
      <th>Game6 comp tickets</th>
      <th>Game6 paid tickets</th>
      <th>Game6 child tickets</th>
      <th>Game7 comp tickets</th>
      <th>Game7 paid tickets</th>
      <th>Game7 child tickets</th>
      <th>First name</th>
      <th>Last name</th>
      <th>Phone</th>
      <th>Email</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @ces_pregame_rsvps.each do |ces_pregame_rsvp| %>
      <tr>
        <td><%= ces_pregame_rsvp.game1_comp_tickets %></td>
        <td><%= ces_pregame_rsvp.game1_paid_tickets %></td>
        <td><%= ces_pregame_rsvp.game1_child_tickets %></td>
        <td><%= ces_pregame_rsvp.game2_comp_tickets %></td>
        <td><%= ces_pregame_rsvp.game2_paid_tickets %></td>
        <td><%= ces_pregame_rsvp.game2_child_tickets %></td>
        <td><%= ces_pregame_rsvp.game3_comp_tickets %></td>
        <td><%= ces_pregame_rsvp.game3_paid_tickets %></td>
        <td><%= ces_pregame_rsvp.game3_child_tickets %></td>
        <td><%= ces_pregame_rsvp.game4_comp_tickets %></td>
        <td><%= ces_pregame_rsvp.game4_paid_tickets %></td>
        <td><%= ces_pregame_rsvp.game4_child_tickets %></td>
        <td><%= ces_pregame_rsvp.game5_comp_tickets %></td>
        <td><%= ces_pregame_rsvp.game5_paid_tickets %></td>
        <td><%= ces_pregame_rsvp.game5_child_tickets %></td>
        <td><%= ces_pregame_rsvp.game6_comp_tickets %></td>
        <td><%= ces_pregame_rsvp.game6_paid_tickets %></td>
        <td><%= ces_pregame_rsvp.game6_child_tickets %></td>
        <td><%= ces_pregame_rsvp.game7_comp_tickets %></td>
        <td><%= ces_pregame_rsvp.game7_paid_tickets %></td>
        <td><%= ces_pregame_rsvp.game7_child_tickets %></td>
        <td><%= ces_pregame_rsvp.first_name %></td>
        <td><%= ces_pregame_rsvp.last_name %></td>
        <td><%= ces_pregame_rsvp.phone %></td>
        <td><%= ces_pregame_rsvp.email %></td>
        <td><%= link_to 'Show', ces_pregame_rsvp %></td>
        <td><%= link_to 'Edit', edit_ces_pregame_rsvp_path(ces_pregame_rsvp) %></td>
        <td><%= link_to 'Destroy', ces_pregame_rsvp, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Ces pregame rsvp', new_ces_pregame_rsvp_path %>
