<p id="notice"><%= notice %></p>

<p>
  <strong>Game1 comp tickets:</strong>
  <%= @ces_pregame_rsvp.game1_comp_tickets %>
</p>

<p>
  <strong>Game1 paid tickets:</strong>
  <%= @ces_pregame_rsvp.game1_paid_tickets %>
</p>

<p>
  <strong>Game1 child tickets:</strong>
  <%= @ces_pregame_rsvp.game1_child_tickets %>
</p>

<p>
  <strong>Game2 comp tickets:</strong>
  <%= @ces_pregame_rsvp.game2_comp_tickets %>
</p>

<p>
  <strong>Game2 paid tickets:</strong>
  <%= @ces_pregame_rsvp.game2_paid_tickets %>
</p>

<p>
  <strong>Game2 child tickets:</strong>
  <%= @ces_pregame_rsvp.game2_child_tickets %>
</p>

<p>
  <strong>Game3 comp tickets:</strong>
  <%= @ces_pregame_rsvp.game3_comp_tickets %>
</p>

<p>
  <strong>Game3 paid tickets:</strong>
  <%= @ces_pregame_rsvp.game3_paid_tickets %>
</p>

<p>
  <strong>Game3 child tickets:</strong>
  <%= @ces_pregame_rsvp.game3_child_tickets %>
</p>

<p>
  <strong>Game4 comp tickets:</strong>
  <%= @ces_pregame_rsvp.game4_comp_tickets %>
</p>

<p>
  <strong>Game4 paid tickets:</strong>
  <%= @ces_pregame_rsvp.game4_paid_tickets %>
</p>

<p>
  <strong>Game4 child tickets:</strong>
  <%= @ces_pregame_rsvp.game4_child_tickets %>
</p>

<p>
  <strong>Game5 comp tickets:</strong>
  <%= @ces_pregame_rsvp.game5_comp_tickets %>
</p>

<p>
  <strong>Game5 paid tickets:</strong>
  <%= @ces_pregame_rsvp.game5_paid_tickets %>
</p>

<p>
  <strong>Game5 child tickets:</strong>
  <%= @ces_pregame_rsvp.game5_child_tickets %>
</p>

<p>
  <strong>Game6 comp tickets:</strong>
  <%= @ces_pregame_rsvp.game6_comp_tickets %>
</p>

<p>
  <strong>Game6 paid tickets:</strong>
  <%= @ces_pregame_rsvp.game6_paid_tickets %>
</p>

<p>
  <strong>Game6 child tickets:</strong>
  <%= @ces_pregame_rsvp.game6_child_tickets %>
</p>

<p>
  <strong>Game7 comp tickets:</strong>
  <%= @ces_pregame_rsvp.game7_comp_tickets %>
</p>

<p>
  <strong>Game7 paid tickets:</strong>
  <%= @ces_pregame_rsvp.game7_paid_tickets %>
</p>

<p>
  <strong>Game7 child tickets:</strong>
  <%= @ces_pregame_rsvp.game7_child_tickets %>
</p>

<p>
  <strong>First name:</strong>
  <%= @ces_pregame_rsvp.first_name %>
</p>

<p>
  <strong>Last name:</strong>
  <%= @ces_pregame_rsvp.last_name %>
</p>

<p>
  <strong>Phone:</strong>
  <%= @ces_pregame_rsvp.phone %>
</p>

<p>
  <strong>Email:</strong>
  <%= @ces_pregame_rsvp.email %>
</p>

<%= link_to 'Edit', edit_ces_pregame_rsvp_path(@ces_pregame_rsvp) %> |
<%= link_to 'Back', ces_pregame_rsvps_path %>
