<h1>Welcome</h1>
<p>Quick Facts</p>
<div class="row">

  <div class="col-sm-3">
    <div class="tile-stats tile-cyan">
      <div class="icon">
        <i class="entypo-paper-plane"></i>
      </div>
      <div class="num">
        <%= @user_count %>
      </div>
      <h3>Registered users</h3>
      <p></p>
    </div>
  </div>

  <div class="col-sm-3">
    <div class="tile-stats tile-orange">
      <div class="icon">
        <i class="entypo-paper-plane"></i>
      </div>
      <div class="num">
        <%= @department_count %>
      </div>
      <h3>Departments</h3>
      <p></p>
    </div>
  </div>

  <div class="col-sm-3">
    <div class="tile-stats tile-green">
      <div class="icon">
        <i class="entypo-paper-plane"></i>
      </div>
      <div class="num">
        <%= @program_count %>
      </div>
      <h3>Programs</h3>
      <p></p>
    </div>
  </div>

  <div class="col-sm-3">
    <div class="tile-stats tile-brown">
      <div class="icon">
        <i class="entypo-paper-plane"></i>
      </div>
      <div class="num">
        <%= @page_count %>
      </div>
      <h3>Web Pages</h3>
      <p></p>
    </div>
  </div>

  <div class="col-sm-3">
    <div class="tile-stats tile-plum">
      <div class="icon">
        <i class="entypo-paper-plane"></i>
      </div>
      <div class="num">
        <%=  %>
      </div>
      <h3>Visits</h3>
      <p></p>
    </div>
  </div>

</div>
