<p id="notice"><%= notice %></p>

<p>
  <strong>Parent:</strong>
  <%= @custom_page.parent_id %>
</p>

<p>
  <strong>Unit:</strong>
  <%= @custom_page.unit_id %>
</p>

<p>
  <strong>Title:</strong>
  <%= @custom_page.title %>
</p>

<p>
  <strong>Page heading:</strong>
  <%= @custom_page.page_heading %>
</p>

<p>
  <strong>Parent:</strong>
  <%= @custom_page.parent_id %>
</p>

<p>
  <strong>Url:</strong>
  <%= @custom_page.url %>
</p>

<p>
  <strong>External url:</strong>
  <%= @custom_page.external_url %>
</p>

<p>
  <strong>Description:</strong>
  <%= @custom_page.description %>
</p>

<p>
  <strong>Meta title:</strong>
  <%= @custom_page.meta_title %>
</p>

<p>
  <strong>Meta description:</strong>
  <%= @custom_page.meta_description %>
</p>

<p>
  <strong>Meta keyword:</strong>
  <%= @custom_page.meta_keyword %>
</p>

<p>
  <strong>Status:</strong>
  <%= @custom_page.status %>
</p>

<%= link_to 'Edit', edit_custom_page_path(@custom_page) %> |
<%= link_to 'Back', custom_pages_path %>
