<p id="notice"><%= notice %></p>


<h3><%= time_tag Time.now %> | Tuscaloosa, AL</h3>
<h2> <img src="http://openweathermap.org/img/w/<%= @icon %>.png"> <%= @temp %>°C</h2>
<h4><%= @description.titleize %></h4>


<%= link_to 'Edit', edit_forecast_path(@forecast) %> |
<%= link_to 'Back', forecasts_path %>
