<p id="notice"><%= notice %></p>

<p>
  <strong>Title:</strong>
  <%= @alumni_event.title %>
</p>

<p>
  <strong>Description:</strong>
  <%= @alumni_event.description %>
</p>

<p>
  <strong>Location:</strong>
  <%= @alumni_event.location %>
</p>

<p>
  <strong>Event start:</strong>
  <%= @alumni_event.event_start %>
</p>

<p>
  <strong>Event end:</strong>
  <%= @alumni_event.event_end %>
</p>

<p>
  <strong>Alumni chapter:</strong>
  <%= @alumni_event.alumni_chapter %>
</p>

<%= link_to 'Edit', edit_alumni_event_path(@alumni_event) %> |
<%= link_to 'Back', alumni_events_path %>
